@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
$primary: #099F82;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index";

html, body, * {
  font-family: 'Open Sans', sans-serif;
}

.text-size-normal {
  font-size: 14px !important;
}
