<template>
  <div class="rounded bg-white p-5 mt-3">
    <div class="d-flex flex-row justify-content-between w-100 align-items-center">
      <div>
        <b-btn size="sm" variant="warning" @click.prevent="showLatest">Latest</b-btn>
      </div>

      <b-input-group id="date-selector" class="mb-3">
        <b-form-input
          id="example-input"
          v-model="date"
          type="text"
          disabled
          placeholder="Pick Date"
          autocomplete="off"
        ></b-form-input>
        <b-input-group-append>
          <b-form-datepicker
            v-model="date"
            :min="minDate"
            :max="maxDate"
            button-only
            right
            locale="en-US"
            aria-controls="example-input"
          ></b-form-datepicker>
        </b-input-group-append>
      </b-input-group>
    </div>
    <hr>
    <div  v-for="(_, i) in converters" :key="i" :class="{'mt-5': i > 0}">
      <div class="position-relative">
        <!-- accessing index based converters[i] because v-model cannot update iterator -->
        <single-converter v-model="converters[i]"></single-converter>
        <a href="#" @click.prevent="remove(i)" class="text-danger" v-if="i > 0">
          <remove class="remove-icon"></remove>
        </a>
      </div>
    </div>
    <div class="mt-3">
      <b-btn variant="primary" size="sm" @click.prevent="addConverter" class="font-weight-bold">
        <plus></plus>
        Add another converter
      </b-btn>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import SingleConverter from './single-converter'
import {BIconPlus, BIconTrash} from 'bootstrap-vue'
import convertCurrency from '../utils/get-converter'
export default {
  components: {
    SingleConverter,
    Plus: BIconPlus,
    remove: BIconTrash
  },

  data () {
    return {
      converters: [],
      // prevent the date selector from allowing dates in the future
      // TODO we are not doing any date checks on the api call
      // we can't rely on just this, we should make the api call
      // only when the date is in the present or past
      maxDate: new Date(),

      // The api only takes dates after January 4, 1999
      minDate: new Date('1999-01-04')
    }
  },

  mounted () {
    this.addConverter()
  },

  computed: {
    date: {
      get () {
        return this.$store.getters.date || 'Latest'
      },
      set (value) {
        this.changeDate(value)
      }
    },

    ...mapGetters(['rates', 'baseCurrency'])
  },

  methods: {
    showLatest () {
      // null date will be recognized as latest in the api, due to the default value
      this.changeDate(null)
    },

    addConverter () {
      const rightCurrency = this.baseCurrency === 'EUR' ? 'USD' : 'EUR'
      // initialize the right side amount
      const rightAmount = convertCurrency(this.rates, this.baseCurrency, 1, this.baseCurrency, rightCurrency)
      this.converters.push({
        leftAmount: 1,
        leftCurrency: this.baseCurrency,
        rightAmount: rightAmount,
        rightCurrency: rightCurrency
      })
    },

    remove (index) {
      this.converters.splice(index, 1)
    },

    ...mapActions(['changeDate'])
  }
}
</script>

<style lang="scss">
.currency-box-title {
  color: #555 !important;
}

#date-selector {
  max-width: 200px;
  outline: none !important;
  color: #888;
  padding: 0 15px;
  background: #eeeeee;
  border: solid 1px #eee !important;
  border-radius: 5px;

  .dropdown-toggle {
    background: none !important;
    border: none;
    color: black;
  }

  .form-control {
    border-bottom-width: 0 !important;
  }
}

.remove-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
</style>
