<template>
  <b-row class="p-3 px-lg-5 py-lg-4 rounded bg-light">
    <b-col>
      <h6 class="currency-box-title font-weight-bold text-size-normal">You have</h6>

      <div class="d-flex flex-row align-items-center">
        <b-form-input v-model.number="leftAmount" type="number"></b-form-input>
        <b-select v-model="leftCurrency">
          <b-select-option v-for="(currency, i) in leftCurrencies" :value="currency" :key="i">
            {{ currency }}
          </b-select-option>
        </b-select>
      </div>

    </b-col>
    <b-col cols="1" class="align-self-center">
      <b-btn size="sm" @click.prevent="exchange" variant="light"><arrow></arrow></b-btn>
    </b-col>
    <b-col>
      <h6 class="currency-box-title font-weight-bold text-size-normal">You Get</h6>

      <div class="d-flex flex-row align-items-center">
        <b-form-input v-model.number="rightAmount" type="number"></b-form-input>
        <b-form-select v-model="rightCurrency">
          <b-form-select-option v-for="(currency, i) in rightCurrencies" :value="currency" :key="i">
            {{ currency }}
          </b-form-select-option>
        </b-form-select>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import {BIconCaretDown, BIconArrowLeftRight} from 'bootstrap-vue'
import {mapGetters} from 'vuex'
import convertCurrency from '../utils/get-converter'

export default {
  props: {
    value: {
      type: Object,
      required: true
    }
  },

  components: {
    Caret: BIconCaretDown,
    arrow: BIconArrowLeftRight
  },

  computed: {
    rightCurrency: {
      get () { return this.value.rightCurrency },
      set (rightCurrency) {
        // the right currency has changed
        // So we need to calculate the right amount

        // I am assuming the user would want to see the right amount result
        // for the same of value of left amount with different currencies on the right side.
        const rightAmount = this.convert(this.leftAmount, this.leftCurrency, rightCurrency)
        this.emit({ rightAmount, rightCurrency })
      }
    },

    leftCurrency: {
      get () { return this.value.leftCurrency },
      set (leftCurrency) {
        const rightAmount = this.convert(this.leftAmount, leftCurrency, this.rightCurrency)
        this.emit({ rightAmount, leftCurrency })
      }
    },

    rightAmount: {
      get () { return this.value.rightAmount },
      set (rightAmount) {
        const leftAmount = this.convert(rightAmount, this.rightCurrency, this.leftCurrency)
        this.emit({ leftAmount, rightAmount })
      }
    },

    leftAmount: {
      get () { return this.value.leftAmount },
      set (leftAmount) {
        const rightAmount = this.convert(leftAmount || leftAmount, this.leftCurrency, this.rightCurrency)
        this.emit({ rightAmount, leftAmount })
      }
    },

    // we are filtering the currencies to exclude the currency on the left side
    // to avoid choosing the same currencies on both sides
    rightCurrencies () {
      return this.currencies.filter(c => c !== this.leftCurrency)
    },

    // we are filtering the currencies to exclude the currency on the right side
    // to avoid choosing the same currencies on both sides
    leftCurrencies () {
      return this.currencies.filter(c => c !== this.rightCurrency)
    },

    ...mapGetters(['currencies', 'rates', 'baseCurrency'])
  },

  methods: {
    convert (leftAmount, leftCurrency, rightCurrency) {
      return convertCurrency(this.rates, this.baseCurrency, leftAmount, leftCurrency, rightCurrency)
    },

    emit ({ leftAmount, rightAmount, leftCurrency, rightCurrency }) {
      this.$emit('input', {
        leftAmount: leftAmount || this.leftAmount,
        rightAmount: rightAmount || this.rightAmount,
        leftCurrency: leftCurrency || this.leftCurrency,
        rightCurrency: rightCurrency || this.rightCurrency
      })
    },

    // Exchange the currencies on the left and right
    // This will update the amount on the right side only
    // according to the amount on the left side
    // The amounts won't be swapped
    exchange () {
      const rightAmount = this.convert(this.leftAmount, this.rightCurrency, this.leftCurrency)
      this.emit({ rightAmount, leftCurrency: this.rightCurrency, rightCurrency: this.leftCurrency })
    }
  },

  watch: {
    rates () {
      // Update the right amount when date changes
      this.emit({
        rightAmount: this.convert(this.leftAmount, this.leftCurrency, this.rightCurrency)
      })
    }
  }
}
</script>

<style>
.form-control {
  height: 60px;
  background: #F8F9FA !important;
  border-width: 0 0 2px 0 !important;
  border-color: #eee !important;
  border-radius: 0;
  outline: none !important;
  box-shadow: none !important;
  padding-left: 0 !important;
}

.custom-select {
  width: 100px !important;
  height: 60px !important;
  margin-bottom: 0 !important;
}
</style>
