<template>
  <div class="bg-primary vh-100">
    <b-container class="py-5">
      <h4 class="text-white font-weight-bold">Adyen Currency Converter</h4>
      <div v-show="loadingRates" class="loading w-100 h-100">
        <h5 class="text-center font-weight-bold">
          <loading animation="throb" font-scale="4"></loading>
        </h5>
      </div>
      <div v-if="error" class="text-center font-weight-bold text-danger">
        {{ error }}
      </div>
      <router-view v-else/>
    </b-container>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import {BIconDot} from 'bootstrap-vue'
export default {
  name: 'App',
  components: {
    loading: BIconDot
  },
  data () {
    return {
      error: null
    }
  },

  async mounted () {
    try {
      await this.getRates()
    } catch (ex) {
      this.error = ex.message || ex
    }
  },

  methods: {
    ...mapActions(['getRates'])
  },

  computed: {
    ...mapGetters(['loadingRates'])
  }
}
</script>

<style scoped>
.loading {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5)
}
</style>
